<!DOCTYPE html>
<html>

<head>
    <title>Stories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= yield %>
    <div class="menu">
        <!-- style=" left:0px;" to see the menu -->
        <ul>
            <li><a href="/#home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/signups/new">Contact</a></li>
        </ul>
        <img alt="Close" class="close" onclick="myFunction()" src="/assets/close.png" width="20px">
    </div>
    <div class="footer">
        <div class="container">
            <p>ⓒFaviola Travel Bloggers 2020</p>
        </div>
    </div>
    <!--   This line includes all of your app’s JavaScript files, including jQuery, as new <script> elements. By placing this line just before the </body> tag, the page’s HTML will load first before the JavaScript applies to the HTML. -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>
